<div class="menu-container">
    <div class="menu">
        <div id="date">June 15, 2016</div>
        <div id="graphics">Graphics</div>
        <div id="system">System</div>
    </div>
</div>
<div class="header-container">
    <div class="header">
        <div id="subscribe">Subscribe &#9662;</div>
        <div id="logo"><img src="assets/images/awesome-logo.svg"></div>
        <div id="social-items"><img src="assets/images/social-icons.svg"></div>
    </div>
</div>
<div class="photo-grid-container">
    <div class="photo-grid">
        <div class="grid-item first-item">
            <img src="assets/images/one.svg">
        </div>
        <div class="grid-item">
            <img src="assets/images/two.svg">
        </div>
        <div class="grid-item">
            <img src="assets/images/three.svg">
        </div>
        <div class="grid-item">
            <img src="assets/images/four.svg">
        </div>
        <div class="grid-item last-item">
            <img src="assets/images/five.svg">
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-item footer-one"></div>
    <div class="footer-item footer-two"></div>
    <div class="footer-item footer-three"></div>
</div>