<!-- <h1>{{ title }}</h1>
<button type="button" [routerLink]="logout">Logout</button>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>SimpleCRM</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="dashboard">Dashboard</a>
            <a mat-button [routerLink]="employees">Employees</a>
        </div>
        <span class="example-fill-remaining-space"></span>
        <span>testing</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you to manager your contacts easily!</span>
    </mat-toolbar-row>
</mat-toolbar> -->